{% trans_default_domain 'FOSUserBundle' %}

<h1 class="main-title form-title">Inscription</h1>

{% if not form.vars.valid %}
<div id="error">
  {{ form_errors(form.email) }}
  {{ form_errors(form.username) }}
  {{ form_errors(form.plainPassword.first) }}
  {{ form_errors(form.plainPassword.second) }}
</div>
{% endif %}

{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
    <div class="form_field text clearfix">
      {{ form_label(form.email) }}
      {{ form_widget(form.email) }}
    </div>
    <div class="form_field text clearfix">
      {{ form_label(form.username) }}
      {{ form_widget(form.username) }}
    </div>
    <div class="form_field text clearfix">
      {{ form_label(form.plainPassword.first) }}
      {{ form_widget(form.plainPassword.first) }}
    </div>
    <div class="form_field text clearfix">
      {{ form_label(form.plainPassword.second) }}
      {{ form_widget(form.plainPassword.second) }}
    </div>
    {{ form_widget(form) }}
    <div class="form_field submit clearfix">
      <input type="submit" value="{{ 'registration.submit'|trans }}" />
    </div>
{{ form_end(form) }}
